
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
@section HeadCss{
    <link href="~/Content/lib/jquery-mloading/jquery.mloading.css" rel="stylesheet" />
    <link href="~/Content/lib/zTree_v3/css/metroStyle/metroStyle.css" rel="stylesheet" />
    <style>
    </style>
}



<nav class="breadcrumb" style="height:50px;"><i class="Hui-iconfont">&#xe67f;</i> 管理员管理 <span class="c-gray en">&gt;</span> 菜单管理 <span class="c-gray en"></span>  <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div style="margin: 0px 30px;">
    <div class="row cl">
        <div class="col-md-4">
            <div class="panel panel-default" id="treePanel">
                <div class="panel-heading">
                    <h3 class="panel-title">菜单</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <ul id="menuTree" class="ztree"></ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-8">

            <div class="panel panel-default" id="operationPanel">

                <div class="panel-heading">
                    <h3 class="panel-title">页面操作</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <button type="button" class="btn btn-warning" id="addMenuBtn">增加子节点</button>
                        <button type="button" class="btn btn-primary">修改</button>
                        <button type="button" class="btn btn-danger">删除</button>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>操作名称</th>
                                <th>链接地址</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>浏览</td>
                                <td>/Home/Index</td>
                                <td><a>修改</a><a>删除</a></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>






@section FooterScript
{
    <script src="~/Content/lib/zTree_v3/js/jquery.ztree.core.min.js"></script>
    <script src="~/Content/lib/zTree_v3/js/jquery.ztree.excheck.min.js"></script>
    <script src="~/Content/js/Common.js"></script>
    <script>
        $(function () {

            initTree();

            $("#addMenuBtn").click(function () {
                var nodes = $('#tree').treeview('getChecked');
                if (nodes.length <= 0) {
                    return;
                } else {
                    layer_show("增加菜单节点", "/SysMenu/AddMenuPage?parentId=" + nodes[0].tags[0] + "&name=" + nodes[0].text, 900, 450);
                }
            });
        });

        function initTree() {

            var setting = {

                //简单数据格式
                data: {
                    simpleData: {
                        enable: true
                    }
                },
                callback: {
                    onClick: treeOnClick
                }
            };

            AjaxUtil.request({
                url: "/SysMenu/GetMenuTreeNodeData",
                type: 'post',
                success: function (rep) {
                    var nodes = JSON.parse(rep.Data);
                    var ztree = $.fn.zTree.init($("#menuTree"), setting, nodes);
                    if (ztree.expandAll(true)) {
                        $("#operationPanel").css("height", $("#treePanel").css("height"));
                    }
                },
                fail: function (rep) {
                    alert(rep.Message);
                }
            });


        }

        function treeOnClick(e, treeId, treeNode) {
            var id = treeNode.id;
            AjaxUtil.request({
                url: '',
                type: 'post',
                success: function () {

                }
            })
        }
    </script>
}



