<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <appSettings>
    <!--↓↓↓加入这句话↓↓↓ 调试-->
    <add key="log4net.Internal.Debug" value="true "/>
  </appSettings>

  <log4net>
    <root>
      <!--(高) OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL (低) -->
      <!--如果你定义DEBUG,那么低于DEBUG级别以下的信息,将不会记入日志,-->
      <level value="ALL" />
      <!-- 记录到什么Appender中-->
      <appender-ref ref="InfoAppender" />
      <appender-ref ref="ErrorAppender" />
      <appender-ref ref="FatalAppender" />
    </root>

    <!-- 常规日志 -->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <!--日志路径-->
      <param name="File" value="App_Data/Log/Info/" />
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true" />
      <!--日志根据什么滚动-->
      <param name="RollingStyle" value="Composite" />
      <!--log保留天数-->
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="1MB" />
      <!--日志文件名格式-->
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <!--%m[%message] 	输出的日志消息
            %n 	换行
            %d[%datetime] 	输出当前语句运行的时刻
            %r 	输出程序从运行到执行到当前语句时消耗的毫秒数
            %d 	当前语句所在的线程ID
            %p 	日志的当前优先级别
            %c 	当前日志对象的名称
            %L 	输出语句所在的行号
            %F 	输出语句所在的文件名
            %-数字 	表示该项的最小长度，如果不够，则用空格填充-->
        <param name="ConversionPattern" value="%n 时间：%d %n 级别：%p %n 来源：%c  %n 信息：%m%n" />
        <param name="Header" value="&#13;&#10;========================================================================================================" />
        <param name="Footer" value="&#13;&#10;**************************footer**************************&#13;&#10;" />
      </layout>

      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
    </appender>

    <!--错误日志-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <!--日志路径-->
      <param name="File" value="App_Data/Log/Error/" />
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true" />
      <!--日志根据什么滚动-->
      <param name="RollingStyle" value="Composite" />
      <!--log保留天数-->
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="1MB" />
      <!--日志文件名格式-->
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <!--%m[%message] 	输出的日志消息
            %n 	换行
            %d[%datetime] 	输出当前语句运行的时刻
            %r 	输出程序从运行到执行到当前语句时消耗的毫秒数
            %d 	当前语句所在的线程ID
            %p 	日志的当前优先级别
            %c 	当前日志对象的名称
            %L 	输出语句所在的行号
            %F 	输出语句所在的文件名
            %-数字 	表示该项的最小长度，如果不够，则用空格填充-->
        <param name="Header" value="&#13;&#10;========================================================================================================" />
        <param name="ConversionPattern" value="%n 时间：%d %n 级别：%p %n 来源：%c  %n 信息：%m%n" />
      </layout>

      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>

    <!--错误入库日志-->

    <!-- name属性指定其名称,type则是log4net.Appender命名空间的一个类的名称,意思是,指定使用哪种介质-->
    <appender name="FatalAppender" type="log4net.Appender.AdoNetAppender">

      <!--日志缓存写入条数 设置为0时只要有一条就立刻写到数据库-->
      <bufferSize value="0"/>

      <!--SQL数据源 ，本地安装SQL客户端-->
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>

      <!--SQL连接字符串-->
      <connectionString value="Data Source=123.207.68.224;Initial Catalog=TEST;User Id=sa;Password=Sa1234;" />

      <!--SQL命令-->
      <!--<commandText value="INSERT INTO T_Log ([Date],[Thread],[Level],[Logger],[Operator],[Message],[ActionType],[Operand],[IP],[MachineName],[Browser],[Location],[Exception]) VALUES (@log_date, @thread, @log_level, @logger,@operator, @message,@action_type,@operand,@ip,@machineName,@browser,@location,'')"/>-->

      <!--SQL命令-->
      <!--<commandText value="insert into T_SysLog(LogDate,LogLevel,LogLogger,LogMessage,myTest) values(@log_date,@log_level,@logger,@message,@test)"/>-->
      <commandText value="insert into T_SysLog(LogDate,LogLevel,LogLogger,LogMessage,LogException,Reason) values(@log_date,@log_level,@logger,@message,@exception,@test)"/>

      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      
      <!--<parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>-->
      
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>

      <parameter>
        <parameterName value="@test"/>
        <dbType value="String" />
        <size value="255" />
        <layout type="AdminWeb.log4netConfig.MyLog4Layout">
          <!--[注意了：这里的Log4Net是命名空间 ，MyLayOut是类名]-->
          <conversionPattern value="%property{Reason}" />
        </layout>
      </parameter>
      

      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="FATAL" />
        <param name="LevelMax" value="FATAL" />
      </filter>

    </appender>


  </log4net>

</configuration>
