@using MvcSiteMapProvider.Collections.Specialized
@{
    Layout = null;
    //List<SysOperations> list = new List<SysOperations>();
    //SysOperations model = new SysOperations();
    //model.ActionName = "Index";
    //model.ContronllerName = "SysMenu";
    //list.Add(model);
    //SourceMetadataDictionary dic = new SourceMetadataDictionary();
    //dic["rolePermisisionList"] = list;
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>
        @*@Html.MvcSiteMap().Menu("BootstrapMenuHelperModel", dic)*@
    </div>
    @StackExchange.Profiling.MiniProfiler.RenderIncludes()
</body>
</html>
