@using AdminWeb.Model
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test1</title>
</head>
<body>
    @{
        BtnRoleHelper test = new BtnRoleHelper();
        var flag = test.IsValid("Init", "delete");
    }
    <div>
        <form method="post" action="/InitData/Test2">
            <input type="text" name="name" value="" />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
