
@{
    ViewBag.Title = "登陆";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<input type="hidden" id="TenantId" name="TenantId" value="" />
<div class="header"></div>
<div class="loginWraper">
    <div id="loginform" class="loginBox">
        <form class="form form-horizontal" action="" method="post" id="loginForm">
            <div class="row cl">
                <label class="form-label col-3"><i class="Hui-iconfont">&#xe60d;</i></label>
                <div class="formControls col-8">
                    <input id="" name="UserName" type="text" placeholder="账户" class="input-text size-L">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-3"><i class="Hui-iconfont">&#xe60e;</i></label>
                <div class="formControls col-8">
                    <input id="" name="PassWord" type="password" placeholder="密码" class="input-text size-L">
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-8 col-offset-3">
                    <input class="input-text size-L" type="text" placeholder="验证码" name="VerifyCode" style="width:150px;">
                    <img id="imgCode" src="/login/CreateVerifyCode?" onclick="this.src = '/login/CreateVerifyCode?' + Math.random()"> @*<a id="kanbuq" href="javascript:;">看不清，换一张</a>*@
                </div>
            </div>
            <div class="row">
                <div class="formControls col-8 col-offset-3">
                    <label for="online">
                        <input type="checkbox" name="IsKeepLogin">
                        使我保持登录状态
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="formControls col-8 col-offset-3">
                    <input name="" type="button" class="btn btn-success radius size-L btnLogin" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
                    <input name="" type="reset" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
                </div>
            </div>
        </form>
    </div>
</div>

@section FooterScript
{
    <script>
        $(function () {

            changeCode();

            $("#btnLogin").click(function () {

                AjaxUtil.request({
                    url: '/login/SubmitLogin',
                    type: 'post',
                    data: $("#loginForm").serialize(),
                    success: function (rep) {

                    },
                    fail: function (rep) {

                    }

                });
            });


        });

        function changeCode() {
            $("#imgCode").attr("src", "/login/CreateVerifyCode?" + Math.random());
        }
    </script>
}
